.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App div {
  box-sizing: border-box;
  padding: 15px;
}

.textBlock {
  padding: 5px !important;
  background-color: black;
}

.textBlock p {
  color: white;
}
